<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yourpackage.sensorsmod">
    
    <application android:allowBackup="false" android:label="Sensors Off Mod">
        <service
            android:name=".MyService"
            android:exported="false" />
    </application>
</manifest>
